{% extends 'base.html' %}
<html lang="en">

{% block title %}Login{% endblock %}

{% block content %}
<body>
 <h1 style="margin-left:43%"><u>Expense Tracker</u></h1>
 <div style=" background-color:black;
 border:none;
 height:50px;">
 </div>
 <div style="margin-left:43%">
<h2>Login</h2>
<form method="post" >
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>

<p>New to Expense Tracker? <a href="{% url 'signup' %}">Create New Account</a></p>
 </div>
</body>
{% endblock %}